<html>
  <head>
    <title>Orientações</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  </head>

  <body>
    <div class="container">
      <div class="faixa">
        <a href="#">Logout</a>
      </div>
      <div class="content">
        <div class="creates">
          <a href="#">Create new teacher</a>
          <a href="#">Create new orientation</a>
        </div>
      </div>
    </div>
  </body>
</html>